rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{documents=**} {
      allow read, write: if isSpecificUID("pD2rtNfjkZXkBATV1hOKPVxABGk1")
    }
  }

  function isAuthenticated(){
  	return request.auth.uid != null;
  }

  function isSpecificUID(uid){
  	return isAuthenticated() && request.auth.uid == uid
  }
}
