name: firebase

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
      - name: setup-node
        uses: actions/setup-node@master
        with:
          node-version: '10.x'
      - name: install
        run: yarn install && yarn install --prefix functions
      - name: generate
        run: yarn generate
      - name: deploy
        run: yarn run firebase deploy --token "$FIREBASE_TOKEN"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
